## 원본

In [1]:
import requests
from bs4 import BeautifulSoup

URL = 'https://finance.naver.com/sise/sise_quant.nhn'
res = requests.get(URL)
# print(res.status_code)

soup = BeautifulSoup(res.text, 'html.parser')
stocks = soup.select('.type_2 tr')[2:]

codes = []

for stock in stocks:
    try:
        stock_n = stock.select_one('.tltle').text
        price = stock.select_one('.number').text.replace(',', '')
        code = stock.select_one('.tltle').attrs['href'][-6:]

        if (('인버스' not in stock_n) and ('레버리지' not in stock_n)) and (int(price) <= 26000):
            codes.append(code)
        else:
            pass
    except:
        continue
        
    if len(codes) == 5:
        break
        
print(codes)

['102280', '001440', '034020', '014990', '009810']

## 추가 중..

In [3]:
import requests
from bs4 import BeautifulSoup

URL = 'https://finance.naver.com/sise/sise_quant.nhn'
res = requests.get(URL)
# print(res.status_code)

soup = BeautifulSoup(res.text, 'html.parser')
stocks = soup.select('.type_2 tr')[2:]

In [4]:
stocks[0].select('.tah.p11')

[<span class="tah p11 red02">
 				30
 				</span>,
 <span class="tah p11 red01">
 				+0.95%
 				</span>]

In [5]:
stocks[0].select('.tah.p11')[0].text

'\n\t\t\t\t30\n\t\t\t\t'

In [6]:
stocks[0].select('.tah.p11')[1].text

'\n\t\t\t\t+0.95%\n\t\t\t\t'

In [7]:
import re

In [8]:
a = stocks[0].select('.tah.p11')[0].text
b = stocks[0].select('.tah.p11')[1].text
re_a = re.sub('[a-zA-Z]', '', a)
re_b = re.sub('[a-zA-Z]', '', b)
print(re_a, re_b)

				30

				+0.95%

In [9]:
Notag_a = re.sub('\t*|\n*|(\<[^\>]*\>)|\n*\t*', '', a)
Notag_b = re.sub('\t*|\n*|(\<[^\>]*\>)|\n*\t*', '', b)
print(Notag_a, Notag_b)

30 +0.95%

In [36]:
ccc = stocks[1].select('td.number')[3:-2]
print(ccc, stocks[1].select('td.number')[3].text, stocks[1].select('td.number')[-3].text, sep = '\n')
ccc[0].text

[<td class="number">63,913,877</td>, <td class="number">33,485</td>, <td class="number">505</td>, <td class="number">506</td>, <td class="number">1,326</td>]
63,913,877
1,326

'63,913,877'

In [35]:
pp = re.sub('\t*|\n*|(\<[^\>]*\>)|\n*\t*|, ', '', str(ccc[0]))
pp

'63,913,877'

In [14]:
print(type(ccc[0]))

<class 'bs4.element.Tag'>

In [15]:
result = []

for cc in ccc:
    c = re.sub('\t*|\n*|(\<[^\>]*\>)|\n*\t*|, ', '', str(cc))
    print(cc)
    result.append(c)
result # 거래량, 거래대금, 매수호가, 매도호가, 시가총액

<td class="number">63,913,877</td>
<td class="number">33,485</td>
<td class="number">505</td>
<td class="number">506</td>
<td class="number">1,326</td>

['63,913,877', '33,485', '505', '506', '1,326']

In [52]:
import requests
from bs4 import BeautifulSoup
import re

URL = 'https://finance.naver.com/sise/sise_quant.nhn'
res = requests.get(URL)
# print(res.status_code)

soup = BeautifulSoup(res.text, 'html.parser')
stocks = soup.select('.type_2 tr')[2:]

codes = []
keys = ['종목명', '현재가', '전일비', '등락률', '거래량', '시가총액']
result = []

for stock in stocks:
    try:
        stock_n = stock.select_one('.tltle').text
        price = stock.select_one('.number').text.replace(',', '')

        if (('인버스' not in stock_n) and ('레버리지' not in stock_n)) and (int(price) <= 26000):
            
            code = stock.select_one('.tltle').attrs['href'][-6:]
            codes.append(code)
            
            updown = stock.select('.tah.p11')[0].text
            percentage = stock.select('.tah.p11')[1].text
            
            re_updown = re.sub('\t*|\n*|(\<[^\>]*\>)|\n*\t*', '', updown)
            re_percentage = re.sub('\t*|\n*|(\<[^\>]*\>)|\n*\t*', '', percentage)
            
            market = stock.select('td.number')[3].text
            volumn = stock.select('td.number')[-3].text
            
            values = [stock_n, price, re_updown, re_percentage, market, volumn]
            
            info_dict = dict(zip(keys, values))
            result.append(info_dict)
        
        else:
            pass
    except:
        continue
        
    if len(codes) == 5:
        break
        
print(codes)

for r in result:
    print()
    print(r)

['102280', '001440', '034020', '014990', '009810']

{'종목명': '쌍방울', '현재가': '505', '전일비': '19', '등락률': '-3.63%', '거래량': '63,913,877', '시가총액': '1,326'}

{'종목명': '대한전선', '현재가': '1720', '전일비': '20', '등락률': '-1.15%', '거래량': '20,225,837', '시가총액': '21,405'}

{'종목명': '두산에너빌리티', '현재가': '19100', '전일비': '100', '등락률': '-0.52%', '거래량': '9,747,404', '시가총액': '121,917'}

{'종목명': '인디에프', '현재가': '785', '전일비': '75', '등락률': '+10.56%', '거래량': '7,776,828', '시가총액': '555'}

{'종목명': '플레이그램', '현재가': '1340', '전일비': '180', '등락률': '+15.52%', '거래량': '6,294,982', '시가총액': '1,202'}